* {
  margin: 10px;
  padding: 0;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paragraph-picture {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#login {
  border: 2px solid black;
  padding: 15px 25px;
  border-radius: 15%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}