* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

.paragraph-picture {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}