* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
}

.paragraph-picture {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
}